ul {
    list-style-type: disc;
    }
#mapid { 
    height: 300px;
 }
 .body{
     display: flex;
     justify-content: space-between;
 }
li{
    background-color: lightseagreen;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}
h1{
    font-size: 2em;
}
h2{
    margin-bottom: 30px;
}
p{
    font-size: 0.75em;
}