* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }
  .login {
    margin-left: 20px;
  }
  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }
  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }
  
.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }
  .footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}
.title-container {
    color: black;
    background-color: rgba(0,139, 139,0.8);  /* Blue */
    padding: 20px 0;
    display: flex;
  }
  
  .title {
    width: 900px;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .social {
  align-self: flex-end;
  margin-bottom: 20px;
  color: lightblue;
}
.social a {
  color: rgba(14,184,246)
}
